body {
    background-color: blanchedalmond;
    margin: 0;
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: rgb(216, 197, 232);
    position: relative;
    overflow: hidden;
}

#player {
    background-color: rgb(222, 56, 164);
    position: absolute;
}

.obstacle {
    background-color: rgb(110, 28, 110);
    position: absolute;
}

#page-gameover {
    text-align: center;
    background-color: rgb(216, 197, 232);
}

